PLAYWRIGHT_PORT=3000
GEMINI_API_KEY=gemini_api_key
PLAYWRIGHT_WSS_URL=playwright_wss_url

POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_MIGRATION_PATH="file://db/migrations"
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"

# minio
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio
MINIO_VOLUMES=/mnt/minio/data
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_UI_PORT=9000
MINIO_CONSOLE_PORT=9001
