PLAYWRIGHT_PORT=3000
GEMINI_API_KEY=gemini_api_key
PLAYWRIGHT_WSS_URL=playwright_wss_url

POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_MIGRATION_PATH="file://db/migrations"
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
