[submodule "extractor"]
	path = extractor
	url = git@github.com:Alturino/bloodhound-extractor.git
[submodule "analyzer"]
	path = analyzer
	url = git@github.com:Alturino/bloodhound-analyzer.git
[submodule "ui"]
	path = ui
	url = git@github.com:Alturino/bloodhound-ui.git
[submodule "fetcher"]
	path = fetcher
	url = git@github.com:Alturino/bloodhound-fetcher.git
